@using EntityLayer.Concrete
@model IEnumerable<Blog>

@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<section class="banner-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                @foreach (var item in Model)
                {
                    <div class="blog-grid-top">
                        <div class="b-grid-top">
                            <div class="blog_info_left_grid">
                                <a href="single.html">
                                    <img src="@item.BlogImage" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="blog-info-middle">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i>@(((DateTime)item.BlogCreatedDate).ToString("dd-MMM-yyyy"))
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-thumbs-up"></i> 0 Likes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-comment"></i> <span id="CommentLength"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h3>
                            <a href="single.html">@item.BlogTitle</a>
                        </h3>
                        <p>
                            @item.BlogContent
                        </p>
                        <a href="single.html" class="btn btn-primary read-m">Read More</a>
                    </div>
                }
                <div class="comment-top">
                    <h4>Yorumlar</h4>
                    <h1>@ViewBag.WriterId</h1>
                    <div class="media">
                        <div id="listele"></div>
                    </div>
                </div>
                <div class="comment-top">
                    <h4>Leave a Comment</h4>
                    <div class="comment-bottom">
                        <div method="post">
                            <input id="commentid" type="hidden" value="@ViewBag.CommentId" />
                            <input id="commentname" class="form-control" type="text" placeholder="Ad Soyad:" required="">
                            <input id="commentsubject" class="form-control" type="text" placeholder="Konu:" required="">
                            <input id="commentmessage" class="form-control" type="text" placeholder="Yorum..." required="">
                            <button id="addcomment" type="submit" class="btn btn-primary submit">Yorum Yap</button>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    <div class="tech-btm">
                        <img src="~/web/images/banner1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="tech-btm">
                        <h4>Mail bültenine abone ol!</h4>
                        <p>Yeni blog yazılarımızı ve kampanyaları kaçırma..</p>
                        <div>
                            <input id="email" type="email" placeholder="Email" required="">
                            <button id="addNewsletter" class="btn btn-primary read-m" type="submit">Abone Ol</button>
                        </div>
                    </div>
                    @foreach (var item in Model)
                    {
                        @await Component.InvokeAsync("WriterLastBlogs",new{id=@item.WriterID})
                        @await Component.InvokeAsync("CategoryList")
                        @await Component.InvokeAsync("GetLastBlogLists")
                    }
                </div>
            </aside>
        </div>
    </div>
</section>


<script>
    $("#addNewsletter").click(function () {
        let newsletter = {
            Mail: $("#email").val()
        };

        $.ajax({
            type: "post",
            url: "/Blog/SubscribeMail/",
            data: newsletter,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Mail bültenine abone oldunuz.")
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>

<script>
    $("#addcomment").click(function () {
        let comment = {
            BlogID: $("#commentid").val(),
            CommentUserName: $("#commentname").val(),
            CommentTitle: $("#commentsubject").val(),
            CommentContent: $("#commentmessage").val()
        };

        $.ajax({
            type: "post",
            url: "/Blog/AddComment/",
            data: comment,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Yorum yapıldı");
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            contentType: "application/json",
            datatype: "json",
            type: "Get",
            url: "/Blog/CommentList",
            data: { id: @ViewBag.CommentId},
            success: function (func) {
                let w = jQuery.parseJSON(func);
                //console.log(w);
                //console.log(w.length);
                $("#CommentLength").html(w.length);
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            contentType: "application/json",
            datatype: "json",
            type: "Get",
            url: "/Blog/CommentList",
            data: { id: @ViewBag.CommentId},
            success: function (func) {
                let w = jQuery.parseJSON(func);
                //console.log(w);
                let tablehtml = "<div>";
                $.each(w, (index, value) => {
                    tablehtml += `<div class="media"><img src="${value.CommentImg}" alt="" class="img-fluid" /><div class="media-body"><h5 class="mt-0">${value.CommentUserName}</h5><p><span style="color:black"><b>${value.CommentTitle}</b></span><br>${value.CommentContent}<br>` + new Date(value.CommentDate).toLocaleString() + `<br></p></div></div>`
                });
                tablehtml += "</div>";
                $("#listele").html(tablehtml);
            }
        });
    });
</script>