@using EntityLayer.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Blog Posts</h3>
        <div class="inner-sec">
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 card">
                            <a href="/Blog/BlogReadAll/@item.BlogID/">
                                <img src="@item.BlogThumbnailImage" class="card-img-top img-fluid" alt="">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i>@(((DateTime)item.BlogCreatedDate).ToString("dd-MMM-yyyy"))
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-comment"></i><span class="CommentLength" data-id="@item.BlogID"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-eye"></i>@item.Category.CategoryName
                                        </a>
                                    </li>
                                </ul>
                                <h5 class="card-title">
                                    <a href="/Blog/BlogReadAll/@item.BlogID/">@item.BlogTitle</a>
                                </h5>
                                <p class="card-text mb-3">@item.BlogContent.Substring(0, item.BlogContent.Substring(0,130).LastIndexOf(" "))</p>
                                <a href="/Blog/BlogReadAll/@item.BlogID/" class="btn btn-primary read-m">Read More</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $(".CommentLength").each(function () {
            var blogid = $(this).attr("data-id");
            var span = $(this);
            $.ajax({
                contentType: "application/json",
                datatype: "json",
                type: "Get",
                async: true,
                url: "/Blog/CommentList",
                data: { id: blogid },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    console.log(w.length);
                    span.html(w.length);
                }
            });
        });
    });
</script>